In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset = pd.read_csv('finalSlot2.csv')

In [ ]:
countroutes = set()
def unique():
  for j in range(0,len(dataset['stop_id_modified_to'])):
    if((dataset['stop_id_modified_to'][j]==keyto) and (dataset['stop_id_modified_from'][j]==keyfrom)):
      countroutes.add(dataset['route_id_modified'][j])
  print(len(countroutes))
keyto=dataset['stop_id_modified_to'][1]
keyfrom=dataset['stop_id_modified_from'][1]
unique()

In [ ]:
dataset.shape

(131417, 7)

In [ ]:
dataset.drop_duplicates(subset =['trip_id_modified','stop_id_modified_from','stop_id_modified_to'], inplace = True)

In [ ]:
dataset.shape

(13490, 7)

In [ ]:
dataset.to_csv('hurray1.csv')

In [ ]:
dataset

        Unnamed: 0 route_id_modified  ... time_modified      speed
0                0            100_18  ...      0.031389  12.557498
1                1            100_18  ...      0.032500  12.128182
2                2            100_18  ...      0.032500  12.128182
3                3            100_18  ...      0.031389  12.557498
4                4            100_18  ...      0.034444  11.443527
...            ...               ...  ...           ...        ...
130965      130965              VJR5  ...      0.009444  53.161929
130966      130966              VJR5  ...      0.025000  38.146750
131356      131356              VJR6  ...      0.014444  29.186777
131357      131357              VJR6  ...      0.013333  39.522856
131358      131358              VJR6  ...      0.009722  36.021169

[13490 rows x 7 columns]

In [ ]:
read = pd.read_csv('hurray1.csv')

In [ ]:
read

       Unnamed: 0  Unnamed: 0.1  ... time_modified      speed
0               0             0  ...      0.031389  12.557498
1               1             1  ...      0.032500  12.128182
2               2             2  ...      0.032500  12.128182
3               3             3  ...      0.031389  12.557498
4               4             4  ...      0.034444  11.443527
...           ...           ...  ...           ...        ...
13485      130965        130965  ...      0.009444  53.161929
13486      130966        130966  ...      0.025000  38.146750
13487      131356        131356  ...      0.014444  29.186777
13488      131357        131357  ...      0.013333  39.522856
13489      131358        131358  ...      0.009722  36.021169

[13490 rows x 8 columns]

In [ ]:
read.drop_duplicates(subset =['stop_id_modified_to','stop_id_modified_from'], inplace = True)

In [ ]:
read.to_csv('1.csv')

In [ ]:
s = pd.read_csv('1.csv')

In [ ]:
s

      Unnamed: 0  Unnamed: 0.1  ...  time_modified      speed
0              0             0  ...       0.031389  12.557498
1              8             8  ...       0.015278  38.738522
2             32            32  ...       0.018333  41.016949
3             54            54  ...       0.034167  13.887395
4             85            85  ...       0.007500  39.008277
...          ...           ...  ...            ...        ...
3305       13482        130962  ...       0.011667  52.015759
3306       13484        130964  ...       0.009444  53.161929
3307       13487        131356  ...       0.014444  29.186777
3308       13488        131357  ...       0.013333  39.522856
3309       13489        131358  ...       0.009722  36.021169

[3310 rows x 9 columns]

In [ ]:
u = pd.read_csv('hurray1.csv')

In [ ]:
u

       Unnamed: 0  Unnamed: 0.1  ... time_modified      speed
0               0             0  ...      0.031389  12.557498
1               1             1  ...      0.032500  12.128182
2               2             2  ...      0.032500  12.128182
3               3             3  ...      0.031389  12.557498
4               4             4  ...      0.034444  11.443527
...           ...           ...  ...           ...        ...
13485      130965        130965  ...      0.009444  53.161929
13486      130966        130966  ...      0.025000  38.146750
13487      131356        131356  ...      0.014444  29.186777
13488      131357        131357  ...      0.013333  39.522856
13489      131358        131358  ...      0.009722  36.021169

[13490 rows x 8 columns]

In [ ]:
count = 0

In [ ]:
stop_id_from = []
stop_id_to = []

In [ ]:
len(u['stop_id_modified_from'])-1

13489

In [ ]:
count = 0

In [ ]:
df = pd.DataFrame

In [ ]:
l =[]

In [ ]:
for i in range(0,len(s['stop_id_modified_from'])-1):
  for j in range(0,len(u['stop_id_modified_from'])-1):
    if((s['stop_id_modified_from'][i]==u['stop_id_modified_from'][j]) and (s['stop_id_modified_to'][i]==u['stop_id_modified_to'][j])):
      count +=1
  l.append(count)    
  count = 0

In [ ]:
l

[8,
 24,
 22,
 31,
 33,
 23,
 14,
 15,
 16,
 17,
 17,
 17,
 16,
 17,
 12,
 13,
 12,
 2,
 3,
 3,
 3,
 4,
 5,
 5,
 7,
 6,
 10,
 12,
 13,
 11,
 10,
 10,
 10,
 9,
 8,
 8,
 9,
 9,
 13,
 13,
 10,
 11,
 13,
 2,
 2,
 12,
 11,
 12,
 10,
 21,
 27,
 22,
 24,
 3,
 3,
 4,
 4,
 6,
 6,
 8,
 2,
 2,
 24,
 4,
 5,
 1,
 1,
 1,
 1,
 7,
 7,
 5,
 5,
 1,
 1,
 1,
 9,
 10,
 10,
 5,
 6,
 1,
 9,
 31,
 5,
 5,
 2,
 3,
 3,
 6,
 10,
 1,
 6,
 1,
 1,
 1,
 3,
 3,
 4,
 4,
 5,
 9,
 18,
 19,
 14,
 11,
 22,
 20,
 27,
 28,
 5,
 7,
 5,
 4,
 7,
 5,
 5,
 21,
 19,
 19,
 16,
 10,
 9,
 7,
 9,
 2,
 5,
 11,
 12,
 10,
 11,
 10,
 10,
 9,
 9,
 4,
 6,
 6,
 4,
 5,
 1,
 1,
 1,
 1,
 1,
 11,
 11,
 9,
 10,
 10,
 1,
 8,
 3,
 4,
 2,
 2,
 2,
 2,
 5,
 1,
 7,
 2,
 9,
 8,
 7,
 6,
 3,
 4,
 4,
 2,
 2,
 2,
 1,
 3,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 10,
 9,
 5,
 5,
 1,
 1,
 3,
 4,
 3,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 30,
 5,
 1,
 4,
 3,
 5,
 10,
 19,
 14,
 6,
 8,
 12,
 12,
 9,
 7,
 9,
 2,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 4,
 1,
 1,
 2,
 4,
 14,
 9,
 9,
 12,
 12,
 5,
 19,
 18,
 17,
 18,
 20,
 15,
 3,
 7,
 4,
 8,
 13,
 1,
 1,
 6,
 13,
 13,
 12,
 2,
 25,
 19,
 9,
 1,
 1,
 7,
 5,
 4,
 1,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 5,
 4,
 4,
 4,
 4,
 4,
 1,
 1,
 8,
 6,
 5,
 2,
 1,
 9,
 8,
 8,
 8,
 9,
 9,
 10,
 1,
 5,
 2,
 2,
 5,
 5,
 5,
 9,
 5,
 3,
 4,
 8,
 4,
 4,
 1,
 3,
 2,
 8,
 1,
 7,
 3,
 3,
 10,
 9,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 14,
 19,
 21,
 25,
 24,
 24,
 7,
 5,
 5,
 10,
 5,
 9,
 9,
 8,
 8,
 9,
 5,
 4,
 9,
 9,
 9,
 9,
 3,
 4,
 8,
 7,
 8,
 9,
 10,
 5,
 9,
 9,
 8,
 8,
 8,
 8,
 9,
 8,
 9,
 9,
 9,
 8,
 1,
 4,
 14,
 8,
 11,
 18,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 3,
 2,
 2,
 2,
 3,
 3,
 4,
 6,
 6,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 4,
 5,
 4,
 5,
 5,
 5,
 5,
 6,
 5,
 6,
 5,
 1,
 1,
 2,
 2,
 3,
 1,
 1,
 3,
 1,
 16,
 16,
 15,
 11,
 17,
 17,
 18,
 21,
 4,
 8,
 8,
 7,
 7,
 4,
 4,
 2,
 7,
 4,
 16,
 12,
 10,
 10,
 10,
 8,
 8,
 2,
 3,
 6,
 6,
 4,
 2,
 2,
 6,
 7,
 8,
 6,
 7,
 5,
 5,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 3,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 2,
 3,
 5,
 3,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 3,
 3,
 2,
 1,
 1,
 1,
 5,
 5,
 1,
 1,
 4,
 4,
 4,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 1,
 1,
 1,
 2,
 1,
 3,
 2,
 51,
 1,
 1,
 1,
 6,
 7,
 8,
 8,
 8,
 7,
 8,
 2,
 2,
 5,
 1,
 2,
 1,
 1,
 1,
 1,
 9,
 6,
 1,
 3,
 7,
 7,
 8,
 5,
 26,
 14,
 14,
 16,
 17,
 17,
 14,
 12,
 9,
 5,
 5,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 7,
 7,
 4,
 4,
 3,
 6,
 6,
 7,
 7,
 7,
 7,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 6,
 6,
 6,
 9,
 5,
 7,
 1,
 4,
 1,
 2,
 2,
 2,
 2,
 2,
 5,
 4,
 3,
 3,
 2,
 2,
 9,
 3,
 3,
 3,
 2,
 2,
 3,
 3,
 3,
 3,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 3,
 1,
 5,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 9,
 7,
 12,
 10,
 8,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 3,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 5,
 9,
 9,
 9,
 8,
 6,
 5,
 21,
 13,
 5,
 3,
 3,
 3,
 4,
 1,
 3,
 1,
 6,
 4,
 4,
 4,
 4,
 2,
 4,
 4,
 4,
 4,
 4,
 2,
 5,
 6,
 7,
 10,
 10,
 15,
 2,
 2,
 5,
 2,
 2,
 4,
 1,
 1,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 9,
 8,
 1,
 1,
 5,
 6,
 3,
 1,
 4,
 1,
 2,
 2,
 2,
 2,
 2,
 4,
 8,
 11,
 12,
 5,
 2,
 3,
 4,
 4,
 4,
 3,
 10,
 10,
 12,
 11,
 11,
 11,
 8,
 8,
 10,
 13,
 12,
 3,
 3,
 12,
 4,
 4,
 7,
 5,
 1,
 1,
 1,
 1,
 2,
 3,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 9,
 8,
 2,
 1,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 10,
 13,
 13,
 5,
 11,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 4,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 4,
 4,
 4,
 4,
 3,
 1,
 2,
 10,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 3,
 2,
 2,
 1,
 6,
 3,
 4,
 4,
 5,
 5,
 4,
 6,
 5,
 6,
 5,
 2,
 1,
 2,
 2,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 5,
 1,
 2,
 1,
 1,
 7,
 4,
 5,
 5,
 6,
 2,
 2,
 2,
 2,
 ...]

In [ ]:
number_of_trips = pd.DataFrame(l)

In [ ]:
number_of_trips

       0
0      8
1     24
2     22
3     31
4     33
...   ..
3304   2
3305   2
3306   2
3307   1
3308   1

[3309 rows x 1 columns]

In [ ]:
number_of_trips.to_csv('count.csv')

In [ ]:
dataset = pd.read_csv('summary_7-7.20.csv')

In [ ]:
dataset

        stop_id_modified_from  stop_id_modified_to  ...      speed  number_of_trips
0                     36156.0              38709.0  ...  12.557498              8.0
1                     38709.0               2321.0  ...  12.128182             24.0
2                      2321.0              38783.0  ...  12.128182             22.0
3                     38783.0              38784.0  ...  12.557498             31.0
4                     38784.0              38785.0  ...  11.443527             33.0
...                       ...                  ...  ...        ...              ...
131412                    NaN                  NaN  ...  35.547501              NaN
131413                    NaN                  NaN  ...  38.353881              NaN
131414                    NaN                  NaN  ...  33.894130              NaN
131415                    NaN                  NaN  ...  33.894130              NaN
131416                    NaN                  NaN  ...  27.252985              NaN

[131417 rows x 5 columns]

In [ ]:
len(dataset['number_of_trips'])

131417

In [ ]:
df = dataset['number_of_trips'].dropna()

In [ ]:
len(dataset['number_of_trips'])

131417

In [ ]:
l = df.tolist()

In [ ]:
l

[8.0,
 24.0,
 22.0,
 31.0,
 33.0,
 23.0,
 14.0,
 15.0,
 16.0,
 17.0,
 17.0,
 17.0,
 16.0,
 17.0,
 12.0,
 13.0,
 12.0,
 2.0,
 3.0,
 3.0,
 3.0,
 4.0,
 5.0,
 5.0,
 7.0,
 6.0,
 10.0,
 12.0,
 13.0,
 11.0,
 10.0,
 10.0,
 10.0,
 9.0,
 8.0,
 8.0,
 9.0,
 9.0,
 13.0,
 13.0,
 10.0,
 11.0,
 13.0,
 2.0,
 2.0,
 12.0,
 11.0,
 12.0,
 10.0,
 21.0,
 27.0,
 22.0,
 24.0,
 3.0,
 3.0,
 4.0,
 4.0,
 6.0,
 6.0,
 8.0,
 2.0,
 2.0,
 24.0,
 4.0,
 5.0,
 1.0,
 1.0,
 1.0,
 1.0,
 7.0,
 7.0,
 5.0,
 5.0,
 1.0,
 1.0,
 1.0,
 9.0,
 10.0,
 10.0,
 5.0,
 6.0,
 1.0,
 9.0,
 31.0,
 5.0,
 5.0,
 2.0,
 3.0,
 3.0,
 6.0,
 10.0,
 1.0,
 6.0,
 1.0,
 1.0,
 1.0,
 3.0,
 3.0,
 4.0,
 4.0,
 5.0,
 9.0,
 18.0,
 19.0,
 14.0,
 11.0,
 22.0,
 20.0,
 27.0,
 28.0,
 5.0,
 7.0,
 5.0,
 4.0,
 7.0,
 5.0,
 5.0,
 21.0,
 19.0,
 19.0,
 16.0,
 10.0,
 9.0,
 7.0,
 9.0,
 2.0,
 5.0,
 11.0,
 12.0,
 10.0,
 11.0,
 10.0,
 10.0,
 9.0,
 9.0,
 4.0,
 6.0,
 6.0,
 4.0,
 5.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 11.0,
 11.0,
 9.0,
 10.0,
 10.0,
 1.0,
 8.0,
 3.0,
 4.0,
 2.0,
 2.0,
 2.0,
 2.0,
 5.0,
 1.0,
 7.0,
 2.0,
 9.0,
 8.0,
 7.0,
 6.0,
 3.0,
 4.0,
 4.0,
 2.0,
 2.0,
 2.0,
 1.0,
 3.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 10.0,
 9.0,
 5.0,
 5.0,
 1.0,
 1.0,
 3.0,
 4.0,
 3.0,
 4.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 30.0,
 5.0,
 1.0,
 4.0,
 3.0,
 5.0,
 10.0,
 19.0,
 14.0,
 6.0,
 8.0,
 12.0,
 12.0,
 9.0,
 7.0,
 9.0,
 2.0,
 3.0,
 3.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 4.0,
 1.0,
 1.0,
 2.0,
 4.0,
 14.0,
 9.0,
 9.0,
 12.0,
 12.0,
 5.0,
 19.0,
 18.0,
 17.0,
 18.0,
 20.0,
 15.0,
 3.0,
 7.0,
 4.0,
 8.0,
 13.0,
 1.0,
 1.0,
 6.0,
 13.0,
 13.0,
 12.0,
 2.0,
 25.0,
 19.0,
 9.0,
 1.0,
 1.0,
 7.0,
 5.0,
 4.0,
 1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 5.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 1.0,
 1.0,
 8.0,
 6.0,
 5.0,
 2.0,
 1.0,
 9.0,
 8.0,
 8.0,
 8.0,
 9.0,
 9.0,
 10.0,
 1.0,
 5.0,
 2.0,
 2.0,
 5.0,
 5.0,
 5.0,
 9.0,
 5.0,
 3.0,
 4.0,
 8.0,
 4.0,
 4.0,
 1.0,
 3.0,
 2.0,
 8.0,
 1.0,
 7.0,
 3.0,
 3.0,
 10.0,
 9.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 1.0,
 2.0,
 2.0,
 1.0,
 1.0,
 1.0,
 14.0,
 19.0,
 21.0,
 25.0,
 24.0,
 24.0,
 7.0,
 5.0,
 5.0,
 10.0,
 5.0,
 9.0,
 9.0,
 8.0,
 8.0,
 9.0,
 5.0,
 4.0,
 9.0,
 9.0,
 9.0,
 9.0,
 3.0,
 4.0,
 8.0,
 7.0,
 8.0,
 9.0,
 10.0,
 5.0,
 9.0,
 9.0,
 8.0,
 8.0,
 8.0,
 8.0,
 9.0,
 8.0,
 9.0,
 9.0,
 9.0,
 8.0,
 1.0,
 4.0,
 14.0,
 8.0,
 11.0,
 18.0,
 2.0,
 2.0,
 2.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 2.0,
 2.0,
 2.0,
 3.0,
 3.0,
 4.0,
 6.0,
 6.0,
 4.0,
 4.0,
 3.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 5.0,
 4.0,
 5.0,
 4.0,
 5.0,
 5.0,
 5.0,
 5.0,
 6.0,
 5.0,
 6.0,
 5.0,
 1.0,
 1.0,
 2.0,
 2.0,
 3.0,
 1.0,
 1.0,
 3.0,
 1.0,
 16.0,
 16.0,
 15.0,
 11.0,
 17.0,
 17.0,
 18.0,
 21.0,
 4.0,
 8.0,
 8.0,
 7.0,
 7.0,
 4.0,
 4.0,
 2.0,
 7.0,
 4.0,
 16.0,
 12.0,
 10.0,
 10.0,
 10.0,
 8.0,
 8.0,
 2.0,
 3.0,
 6.0,
 6.0,
 4.0,
 2.0,
 2.0,
 6.0,
 7.0,
 8.0,
 6.0,
 7.0,
 5.0,
 5.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 3.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 1.0,
 2.0,
 2.0,
 3.0,
 5.0,
 3.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 3.0,
 3.0,
 2.0,
 1.0,
 1.0,
 1.0,
 5.0,
 5.0,
 1.0,
 1.0,
 4.0,
 4.0,
 4.0,
 3.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 3.0,
 3.0,
 3.0,
 3.0,
 1.0,
 1.0,
 1.0,
 2.0,
 1.0,
 3.0,
 2.0,
 51.0,
 1.0,
 1.0,
 1.0,
 6.0,
 7.0,
 8.0,
 8.0,
 8.0,
 7.0,
 8.0,
 2.0,
 2.0,
 5.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 9.0,
 6.0,
 1.0,
 3.0,
 7.0,
 7.0,
 8.0,
 5.0,
 26.0,
 14.0,
 14.0,
 16.0,
 17.0,
 17.0,
 14.0,
 12.0,
 9.0,
 5.0,
 5.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 5.0,
 7.0,
 7.0,
 4.0,
 4.0,
 3.0,
 6.0,
 6.0,
 7.0,
 7.0,
 7.0,
 7.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 6.0,
 6.0,
 6.0,
 9.0,
 5.0,
 7.0,
 1.0,
 4.0,
 1.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 5.0,
 4.0,
 3.0,
 3.0,
 2.0,
 2.0,
 9.0,
 3.0,
 3.0,
 3.0,
 2.0,
 2.0,
 3.0,
 3.0,
 3.0,
 3.0,
 2.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 3.0,
 1.0,
 5.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 9.0,
 7.0,
 12.0,
 10.0,
 8.0,
 1.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 3.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 2.0,
 1.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 5.0,
 9.0,
 9.0,
 9.0,
 8.0,
 6.0,
 5.0,
 21.0,
 13.0,
 5.0,
 3.0,
 3.0,
 3.0,
 4.0,
 1.0,
 3.0,
 1.0,
 6.0,
 4.0,
 4.0,
 4.0,
 4.0,
 2.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 2.0,
 5.0,
 6.0,
 7.0,
 10.0,
 10.0,
 15.0,
 2.0,
 2.0,
 5.0,
 2.0,
 2.0,
 4.0,
 1.0,
 1.0,
 4.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 9.0,
 8.0,
 1.0,
 1.0,
 5.0,
 6.0,
 3.0,
 1.0,
 4.0,
 1.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 4.0,
 8.0,
 11.0,
 12.0,
 5.0,
 2.0,
 3.0,
 4.0,
 4.0,
 4.0,
 3.0,
 10.0,
 10.0,
 12.0,
 11.0,
 11.0,
 11.0,
 8.0,
 8.0,
 10.0,
 13.0,
 12.0,
 3.0,
 3.0,
 12.0,
 4.0,
 4.0,
 7.0,
 5.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 3.0,
 2.0,
 2.0,
 2.0,
 2.0,
 1.0,
 2.0,
 1.0,
 2.0,
 9.0,
 8.0,
 2.0,
 1.0,
 2.0,
 3.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 2.0,
 10.0,
 13.0,
 13.0,
 5.0,
 11.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 1.0,
 1.0,
 4.0,
 4.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 4.0,
 4.0,
 4.0,
 4.0,
 3.0,
 1.0,
 2.0,
 10.0,
 3.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 3.0,
 3.0,
 2.0,
 2.0,
 1.0,
 6.0,
 3.0,
 4.0,
 4.0,
 5.0,
 5.0,
 4.0,
 6.0,
 5.0,
 6.0,
 5.0,
 2.0,
 1.0,
 2.0,
 2.0,
 3.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 2.0,
 5.0,
 1.0,
 2.0,
 1.0,
 1.0,
 7.0,
 4.0,
 5.0,
 5.0,
 6.0,
 2.0,
 2.0,
 2.0,
 2.0,
 ...]

In [ ]:
time_mean = []

In [ ]:
sum = 0
dummy_sum = 0

In [ ]:
dataset.head(9)

   stop_id_modified_from  stop_id_modified_to  ...      speed  number_of_trips
0                36156.0              38709.0  ...  12.557498              8.0
1                38709.0               2321.0  ...  12.128182             24.0
2                 2321.0              38783.0  ...  12.128182             22.0
3                38783.0              38784.0  ...  12.557498             31.0
4                38784.0              38785.0  ...  11.443527             33.0
5                38785.0                844.0  ...  11.443527             23.0
6                  844.0              38786.0  ...  13.911739             14.0
7                38786.0              38787.0  ...  13.911739             15.0
8                38787.0              38788.0  ...  38.738522             16.0

[9 rows x 5 columns]

In [ ]:
for i in l:
    dummy_sum += i
    for j in range(0,int(dummy_sum)):
      sum += dataset['time_modified'][j]
    time_mean.append(sum)  
    sum = 0

In [ ]:
time_mean

[0.25333333199999997,
 0.6819444439999998,
 1.0697222209999995,
 1.4661111119999986,
 1.7152777809999975,
 1.7611111149999983,
 2.2180555579999988,
 2.4447222219999993,
 2.5500000000000007,
 2.7266666660000003,
 2.7997222210000015,
 2.935555553000002,
 3.1005555530000013,
 3.223888887000002,
 3.5208333310000017,
 3.7222222180000015,
 3.908611104000001,
 3.962777770000001,
 3.9927777700000013,
 4.014444437000002,
 4.079722214000002,
 4.1222222140000016,
 4.228055547000001,
 4.317777769000002,
 4.411111103000002,
 4.572499992000003,
 4.853055547000002,
 5.0544444390000045,
 5.199166661000004,
 5.286666661000005,
 5.528888883000004,
 5.676388882000004,
 5.779722216000002,
 5.931111103000002,
 6.0769444350000015,
 6.271666657000001,
 6.357777767,
 6.600555545999999,
 6.627777770000001,
 6.713888879000002,
 6.878333326000002,
 7.020833324000001,
 7.0747222119999975,
 7.087777767999998,
 7.109722211999998,
 7.295833325999999,
 7.381111105000002,
 7.535277771000004,
 7.6977777690000035,
 8.349722213000007,
 8.582777768000007,
 8.84083332500001,
 8.99166665800001,
 9.12611110200001,
 9.14416665800001,
 9.183611102000011,
 9.23166665700001,
 9.299444434000012,
 9.366944434000011,
 9.613888878000013,
 9.638888878000012,
 9.650833323000011,
 9.958888880000014,
 10.048333324000014,
 10.118055547000013,
 10.136388880000013,
 10.168333324000013,
 10.193333324000013,
 10.208333324000014,
 10.274722211000013,
 10.357777767000009,
 10.44555554500001,
 10.516111101000012,
 10.518333323000013,
 10.519999990000013,
 10.521666657000013,
 10.54194443600001,
 10.604999990000008,
 10.705555545000006,
 10.764444433000003,
 10.818888877000003,
 10.822499988000002,
 10.859999987000004,
 11.234444433000006,
 11.273055545000007,
 11.311666656000007,
 11.333055545000008,
 11.372499989000008,
 11.409166655000009,
 11.488333322000008,
 11.654999987000009,
 11.70277776500001,
 11.835277766000008,
 11.865277766000007,
 11.895277766000007,
 11.925277766000006,
 12.031944432000007,
 12.109999987000007,
 12.288333320000007,
 12.325277765000006,
 12.362777765000006,
 12.439166653000008,
 12.619722209000008,
 12.81472221000001,
 12.90083332100001,
 13.051111099000012,
 13.463611098000012,
 14.039722209000008,
 15.45416665200001,
 15.842777762000013,
 15.892777761000014,
 15.995833316000011,
 16.059722205000014,
 16.120277760000015,
 16.22805553800001,
 16.27444442700001,
 16.34166664900001,
 16.779999982000007,
 17.079166650000005,
 17.510555539000016,
 17.775555541000017,
 17.938333319000023,
 18.00638887300002,
 18.035277763000018,
 18.11722220700002,
 18.15333331800002,
 18.233611095000022,
 18.368055541000018,
 18.493611097000013,
 18.59999998700001,
 18.711666653000012,
 18.84027776500001,
 18.960555544000012,
 19.078055545000012,
 19.18749999000001,
 19.24444443400001,
 19.29249999000001,
 19.40611110100001,
 19.45916665800001,
 19.512222213000012,
 19.536944435000013,
 19.545277768000012,
 19.564166657000012,
 19.574166657000013,
 19.593888879000012,
 19.70583332500001,
 19.81611110100001,
 19.91555554600001,
 20.017499992000012,
 20.132777770000015,
 20.144999992000013,
 20.271944436000013,
 20.319722214000013,
 20.40277777000001,
 20.44388888100001,
 20.47777776900001,
 20.52083332400001,
 20.55055554600001,
 20.629722213000008,
 20.643333324000007,
 20.70361110200001,
 20.71416665800001,
 20.83999999100001,
 20.983888881000006,
 21.156111102000008,
 21.269999991000002,
 21.326388880000003,
 21.390277770000004,
 21.452222215000003,
 21.48666666,
 21.514722215,
 21.544722215,
 21.559999993,
 21.608888881000002,
 21.637777770000003,
 21.667777770000004,
 21.696666659000005,
 21.748333326000008,
 21.778055548000008,
 21.79972221500001,
 21.82611110400001,
 21.85055554800001,
 21.87749999200001,
 22.054444437000015,
 22.203055549000016,
 22.288611105000015,
 22.368611106000017,
 22.385555550000017,
 22.40194443900002,
 22.45444443900002,
 22.49666666000002,
 22.516944437000017,
 22.542499993000018,
 22.557222216000017,
 22.561111105000016,
 22.564999994000015,
 22.569444438000016,
 22.572777771000016,
 22.576666660000015,
 22.583055549000015,
 22.588333327000015,
 22.603611105000017,
 22.616944438000015,
 22.631944438000016,
 22.646944438000016,
 23.02333332800001,
 23.08027777300001,
 23.08999999500001,
 23.12972221800001,
 23.154722217000007,
 23.210277772000012,
 23.329722218000008,
 23.58444444300001,
 23.685555555000008,
 23.75694444400001,
 23.88166666600001,
 24.039722222000012,
 24.17277777900001,
 24.267500000000013,
 24.33222222300001,
 24.43444444600001,
 24.456944446000012,
 24.484444446000012,
 24.512777779000015,
 24.537777779000017,
 24.562777779000015,
 24.582777779000015,
 24.608333335000015,
 24.632777779000012,
 24.716666668000013,
 24.727500001000013,
 24.738333334000014,
 24.767500001000013,
 24.84222222300001,
 25.09166666700001,
 25.17916666700001,
 25.259166669000013,
 25.320000002000018,
 25.376944446000024,
 25.416111112000024,
 25.630000001000028,
 25.89305555700004,
 26.12166666700005,
 26.32888888900005,
 26.536111112000047,
 26.69694444600005,
 26.729722224000053,
 26.812222224000053,
 26.88694444600005,
 26.99916666800005,
 27.236388890000043,
 27.257777779000044,
 27.276388890000042,
 27.361388890000043,
 27.504444444000043,
 27.62722222100005,
 27.75027777700005,
 27.76861111000005,
 27.940555553000056,
 28.32027777400005,
 28.487499995000043,
 28.494999995000043,
 28.502499995000043,
 28.657222218000044,
 28.752499996000044,
 28.84055555200004,
 28.86444444100004,
 28.89861110800004,
 28.94499999800004,
 28.960555554000038,
 28.974166665000038,
 28.987777776000037,
 28.99777777600004,
 29.008055554000038,
 29.017222221000036,
 29.07444444300004,
 29.127499999000044,
 29.170555554000046,
 29.214999998000046,
 29.260833332000043,
 29.28999999800004,
 29.320555555000038,
 29.327499999000036,
 29.334722221000035,
 29.396111111000035,
 29.44166666700003,
 29.47944444500003,
 29.495000001000033,
 29.502222223000032,
 29.591666668000034,
 29.752777777000038,
 29.864722221000036,
 29.991388888000035,
 30.073055555000032,
 30.159444442000034,
 30.291944441000037,
 30.293611108000036,
 30.305833332000034,
 30.310277776000035,
 30.313611109000036,
 30.348611108000032,
 30.38194444100003,
 30.421944440000033,
 30.54305555000004,
 30.603611105000045,
 30.620555550000045,
 30.675277772000047,
 30.734444438000047,
 30.77638888200005,
 30.822222215000053,
 30.833333326000055,
 30.869444438000055,
 30.889166660000058,
 30.94861110500006,
 30.956111105000062,
 30.984166660000067,
 31.009722216000068,
 31.033055549000068,
 31.119166660000065,
 31.17416665900007,
 31.176111103000068,
 31.178333325000068,
 31.180277769000067,
 31.182222213000067,
 31.184444435000067,
 31.187222213000066,
 31.193611102000066,
 31.199722213000065,
 31.205833324000064,
 31.213333324000065,
 31.221944435000065,
 31.236944435000066,
 31.253611102000065,
 31.286388880000064,
 31.313888880000064,
 31.324999991000066,
 31.35333332500007,
 31.37555554700007,
 31.387777769000067,
 31.399999991000065,
 31.415277769000067,
 31.53749999000007,
 31.83083332300007,
 32.18972221400007,
 32.45638888100008,
 32.9649999920001,
 33.421388880000116,
 33.484722213000126,
 33.531111101000135,
 33.58694443400014,
 33.70472221300014,
 33.76888888000014,
 33.83111110300015,
 33.88249999100015,
 33.93999999100016,
 33.97944443700016,
 34.02138888100017,
 34.04249999200017,
 34.06138888100016,
 34.21666665900017,
 34.39111110300018,
 34.59055554800018,
 58.19222221800018,
 58.26999999500019,
 58.333333327000204,
 58.4205555500002,
 58.46805555000021,
 58.54333332700022,
 58.566944437000224,
 58.766388880000235,
 58.868055546000235,
 58.91972221200024,
 58.967777769000236,
 59.03027776700022,
 59.15555554400022,
 59.219722211000224,
 59.67361110100022,
 59.7208333240002,
 59.7622222130002,
 59.805833324000204,
 60.31305554600021,
 60.744999990000196,
 61.30361110200021,
 61.35333332400021,
 61.58277776800021,
 61.83444443600023,
 61.90361110200024,
 62.04194443600024,
 62.13361110100025,
 62.145833323000254,
 62.16055554500026,
 62.17333332300026,
 62.18666665700025,
 62.192777768000255,
 62.19972221200025,
 62.20666665600025,
 62.210555545000254,
 62.22194443400026,
 62.23027776700026,
 62.23777776700026,
 62.24638887800026,
 62.26416665600026,
 62.30305554400026,
 62.349999988000256,
 62.43694443200026,
 62.56527776500026,
 62.688888876000256,
 62.799444432000264,
 62.89888887700026,
 63.00972221000025,
 63.079722210000256,
 63.13277776500026,
 63.18694443200026,
 63.23944443300026,
 63.29833332200026,
 63.380833324000264,
 63.43527776800027,
 63.51055554500028,
 63.56749998900028,
 63.64861110000029,
 63.72277776700029,
 63.806666656000296,
 63.880833322000306,
 63.96999998800032,
 64.05083332100033,
 64.16027776500033,
 64.31777776500033,
 64.34722220900034,
 64.37666665300034,
 64.43694443100034,
 64.48666665300034,
 64.58027776500033,
 64.61805554300034,
 64.65583332100034,
 64.71333332100033,
 64.72194443200033,
 64.9024999860003,
 65.03944443000027,
 65.21416665000025,
 65.27083331700025,
 65.49444443000023,
 65.69055554000022,
 65.86277776400024,
 65.98111109800023,
 65.99861109800023,
 66.05638887600023,
 66.16083332000025,
 66.26333332000024,
 66.33305554000022,
 66.4713888730002,
 66.55083331800019,
 66.58083331800019,
 66.70527776300017,
 66.78305554100015,
 67.05611109900016,
 67.20861109900018,
 67.31638887700018,
 67.38944443300018,
 67.46749999000018,
 67.52749999000017,
 67.62333332300017,
 67.68499998900018,
 67.72027776600017,
 67.80555554300018,
 67.89722221000018,
 67.96416665500017,
 67.97749998900018,
 67.99138887700018,
 68.04472221000017,
 68.11333332000018,
 68.2436110970002,
 68.26611109700019,
 68.34194442900018,
 68.42194443000018,
 68.51333331900017,
 68.52861109700017,
 68.56555554100017,
 68.60249998500016,
 68.62194442900017,
 68.63722220700016,
 68.65249998500016,
 68.66972220700016,
 68.68722220700016,
 68.70638887400015,
 68.72027776300015,
 68.74083331900016,
 68.79138887400016,
 68.85388887500015,
 68.87249998600015,
 68.89222220800015,
 68.91027776400014,
 68.94305554200014,
 68.95777776400014,
 68.98138887500014,
 69.00194443100014,
 69.01777776400014,
 69.05055554100015,
 69.08722220700015,
 69.10749998500015,
 69.14305554100014,
 69.17972220700014,
 69.23138887300014,
 69.32055554000013,
 69.37111109600012,
 69.38833331800012,
 69.40555554000012,
 69.42166665100012,
 69.43833331800012,
 69.47249998500011,
 69.51888887500012,
 69.53444443100011,
 69.54805554200011,
 69.56166665300012,
 69.58194443100012,
 69.62611109800012,
 69.64833332000013,
 69.65999998700013,
 69.68111109800014,
 69.69138887600015,
 69.70138887600015,
 69.71277776500015,
 69.73444443100014,
 69.74444443100015,
 69.75416665300014,
 69.77527776400014,
 69.78888887500014,
 69.80249998600014,
 69.81611109700015,
 69.84222220900014,
 69.86388887500014,
 69.87833332000014,
 69.88638887600014,
 69.89444443200014,
 69.90138887600014,
 69.94027776500013,
 69.97805554400014,
 69.98611110000014,
 69.99333332200014,
 70.02333332200014,
 70.05333332200013,
 70.08388887800014,
 70.09138887900015,
 70.09305554600014,
 70.09499999000015,
 70.09666665700014,
 70.10027776800014,
 70.10166665700014,
 70.10305554600014,
 70.10805554600013,
 70.10999999000013,
 70.11194443400014,
 70.11361110100013,
 70.11527776800013,
 70.11805554600012,
 70.12055554600012,
 70.12222221300011,
 70.12444443500011,
 70.12666665700011,
 70.12861110100012,
 70.12972221200012,
 70.16416665600012,
 70.22666665600012,
 70.27999999000012,
 70.32111110100011,
 70.36388887800011,
 70.42555554400012,
 70.46083332100011,
 70.50138887600012,
 70.54611109800013,
 70.58527776500013,
 70.60277776500013,
 70.62027776500013,
 70.63777776500012,
 70.67055554300012,
 70.68583332100012,
 70.72388887700012,
 70.73277776500012,
 71.68222221000009,
 71.76805554300009,
 71.78944443200008,
 71.81416665400008,
 71.99611109800007,
 72.15249998600008,
 72.30111109800008,
 72.44666665400005,
 72.58916665300006,
 72.71527776300006,
 72.85361109700004,
 72.88694443000004,
 72.93777776400003,
 72.99972221000003,
 73.01333332100003,
 73.03694443200004,
 73.04722221000004,
 73.05638887700005,
 73.09138887700004,
 73.10249998800005,
 73.19972221000006,
 73.26777776500006,
 73.28138887600007,
 73.30749998800006,
 73.35972221100006,
 73.41361110000005,
 73.47305554500005,
 73.51111110100005,
 73.59194443600003,
 73.99777776700004,
 74.23333332000009,
 74.36333332000008,
 74.5291666530001,
 74.6197222080001,
 74.72194442900008,
 74.8352777630001,
 74.9244444290001,
 74.96388887400012,
 74.99972220800012,
 75.01472220800011,
 75.0233333190001,
 75.0299999860001,
 75.03666665300011,
 75.04361109700011,
 75.05055554100011,
 75.0577777630001,
 75.0841666520001,
 75.10694443000011,
 75.2333333190001,
 75.38833331800008,
 75.4944444270001,
 75.5561110940001,
 75.62083331500011,
 75.66694442500012,
 75.76694442400013,
 75.92583331300014,
 76.11166664600015,
 76.27611109000011,
 76.4269444240001,
 76.59138886700009,
 76.6480555340001,
 76.6641666450001,
 76.68444442300009,
 76.69722220100009,
 76.70888886800009,
 76.7211110900001,
 76.73083331200009,
 76.74416664500009,
 76.7552777560001,
 76.7694444230001,
 76.8536110890001,
 76.93527775600009,
 77.07111108900008,
 77.16638886700008,
 77.16972220100007,
 77.31111109000007,
 77.33055553400007,
 77.40055553500005,
 77.41916664600005,
 77.45527775800004,
 77.48638887000003,
 77.51249998200002,
 77.53527776000003,
 77.55638887100002,
 77.60944442600002,
 77.65722220400004,
 77.67888887100004,
 77.70416664900004,
 77.72111109300003,
 77.73805553700002,
 77.94472220400003,
 78.00138887000003,
 78.04527775900003,
 78.09527775900003,
 78.12249998100002,
 78.14444442500002,
 78.17972220300001,
 78.20805553700002,
 78.23777775900002,
 78.28944442500003,
 78.32222220300002,
 78.35527775800003,
 78.37222220200003,
 78.38916664600004,
 78.40361109000004,
 78.42194442300004,
 78.46277775600004,
 78.49999997800003,
 78.53499997800003,
 78.58999997800002,
 78.63111108900002,
 78.706111089,
 78.7297222,
 78.78027775599999,
 78.79916664399998,
 78.80749997699998,
 78.81583330999997,
 78.83138886599997,
 78.84611108799997,
 78.85861108799998,
 78.87277775499997,
 78.88916664399997,
 78.90333331099997,
 78.91583331099997,
 78.97999997799997,
 79.25277775499995,
 79.37166664499995,
 79.58861108999993,
 79.77388886699993,
 79.91638886599992,
 79.93388886599992,
 79.96888886599992,
 79.98638886599991,
 80.00194442199991,
 80.01916664399991,
 80.03638886599991,
 80.05249997699991,
 80.0691666439999,
 80.1033333109999,
 80.1138888669999,
 80.1244444229999,
 80.1361110899999,
 80.1497222009999,
 80.1652777569999,
 80.1788888679999,
 80.21277775699991,
 80.26805553499992,
 80.27916664599992,
 80.29083331299992,
 80.30083331299993,
 80.32222220199994,
 80.34361109099994,
 80.36527775699993,
 80.38499997899993,
 80.39583331199992,
 80.41972220099993,
 80.44694442299993,
 80.46555553499994,
 80.47999997899993,
 80.49472220099993,
 80.50916664599993,
 80.52527775799993,
 80.53944442399992,
 80.55611109099993,
 80.57111109099992,
 80.58611109099992,
 80.60083331399993,
 80.61694442599993,
 80.63138886999992,
 80.64638886999992,
 80.66222220399993,
 80.66944442599993,
 80.67666664799992,
 80.68416664799992,
 80.69972220399993,
 80.71472220399993,
 80.72083331599994,
 80.72388887199993,
 80.72749998299993,
 80.73249998299993,
 80.73388887199992,
 80.73888887199992,
 80.74277775999992,
 80.74611109399991,
 80.74888887199991,
 80.75138887199991,
 80.7552777609999,
 80.7594444269999,
 80.7838888709999,
 80.83111109299989,
 80.89361109299989,
 80.9441666479999,
 80.9952777589999,
 81.0358333139999,
 81.0774999799999,
 81.1130555349999,
 81.1497222019999,
 81.1908333129999,
 81.2147222019999,
 81.2408333119999,
 81.32166664599991,
 81.3897222009999,
 81.4524999789999,
 81.49861108899988,
 81.53944442199985,
 81.59027775499985,
 81.77833331199984,
 81.86222219999982,
 81.90694442199981,
 81.9330555329998,
 81.95861108799978,
 81.97916664299977,
 81.98999997599977,
 81.99222219799977,
 81.99833330799977,
 82.00111108599977,
 82.07722219799977,
 82.1238888639998,
 82.18805553099979,
 82.21166664099978,
 82.21805552999977,
 82.23666664099977,
 82.31888886299977,
 82.52138886199977,
 82.63361108399977,
 82.73249997199977,
 82.80999997099977,
 82.84611108199977,
 82.92944441499976,
 82.99166663699977,
 83.02972219299977,
 83.12527774799976,
 83.17111108099975,
 83.29777774699971,
 83.31999996899972,
 83.34305552399972,
 83.39888885799972,
 83.41111108099973,
 83.42833330299972,
 83.4583333029997,
 83.4658333029997,
 83.4699999699997,
 83.48583330299971,
 83.50166663599971,
 83.51944441399971,
 83.5280555249997,
 83.5355555249997,
 83.54277774699969,
 83.55083330299969,
 83.62888885799967,
 83.68138885699963,
 83.68388885699963,
 83.68583330099963,
 83.69694441099963,
 83.7466666329996,
 83.7961110779996,
 83.8130555219996,
 83.8630555229996,
 83.87527774499961,
 83.89749996699962,
 83.93249996699963,
 83.97027774499962,
 83.97749996699962,
 83.99166663299961,
 84.0038888549996,
 84.0916666319996,
 84.3044444079996,
 84.4172221859996,
 84.4399999639996,
 84.4608332969996,
 84.49472218499959,
 84.52972218499959,
 84.54805551899959,
 84.56722218499958,
 84.58472218499958,
 84.66083329499955,
 84.77888885099955,
 84.86972218499953,
 84.93527773999952,
 85.0286110729995,
 85.08777773799946,
 85.14444440399947,
 85.26249995999949,
 85.34916662599949,
 85.59138884799945,
 86.10583329099946,
 86.15222217999946,
 86.19666662399946,
 86.35888884499946,
 86.42194439999946,
 86.47083328899944,
 86.55861106699945,
 86.61694440099946,
 86.62527773399945,
 86.63416662299946,
 86.65749995599946,
 86.68111106699945,
 86.74277773399945,
 86.81777773299945,
 86.86888884399946,
 86.90944439899945,
 86.95111106499945,
 86.98666661999945,
 87.00583328699945,
 87.04027773099945,
 87.06444439799945,
 87.10111106399945,
 87.18777772999948,
 87.25833328499945,
 87.27638883999944,
 87.27888883999944,
 87.28527772899943,
 87.29194439499943,
 87.29583328299944,
 87.30083328299943,
 87.32333328299944,
 87.34527772699944,
 87.35555550399944,
 87.36777772599945,
 87.39083328199945,
 87.41027772599945,
 87.45722216999944,
 87.51888883699944,
 87.56944439199944,
 87.61999994699944,
 87.64499994699945,
 87.66833327999944,
 87.70638883499944,
 87.74583327899944,
 87.78194438999944,
 87.81638883399944,
 87.91611105699945,
 87.98999994599944,
 88.08361105599941,
 88.14249994499941,
 88.25083327899941,
 88.2808332789994,
 88.28833327899939,
 88.2924999459994,
 88.2966666129994,
 88.3002777239994,
 88.3038888349994,
 88.3083332789994,
 88.3163888339994,
 88.3241666119994,
 88.3419443899994,
 88.35055550099939,
 88.38055550099938,
 88.41666661199937,
 88.45138883399936,
 88.46111105599935,
 88.46861105599935,
 88.47694438899934,
 88.48555549999934,
 88.49499994399933,
 88.49749994399933,
 88.50138883299933,
 88.50388883299932,
 88.50638883299932,
 88.50833327699932,
 88.51055549899932,
 88.51666660899933,
 88.54888883199932,
 96.12111105399931,
 96.23333327599931,
 96.33222216399932,
 96.39111105199932,
 96.40972216299932,
 96.44583327399931,
 96.58111105099931,
 96.60749994099932,
 96.61361105199931,
 96.62499994099932,
 96.63444438499931,
 96.64472216299932,
 96.65444438499931,
 96.66472216299931,
 96.66944438499931,
 96.67361105199932,
 96.68777771899931,
 96.7022221629993,
 96.7105554959993,
 96.7244443849993,
 96.7338888289993,
 96.77472216199926,
 96.80055549499927,
 96.84833327299927,
 96.89305549499927,
 96.95472216199927,
 97.21527771699927,
 97.30416660599927,
 97.43055549299928,
 97.55999993599927,
 97.68222215899925,
 97.78222215899925,
 97.81805549199925,
 97.83888882499924,
 97.88055549099924,
 97.91944437999923,
 97.95916660199924,
 97.97499993499925,
 97.99083326799925,
 98.00555548999925,
 98.01638882299925,
 98.03416660099924,
 98.04555548999924,
 98.06749993499925,
 98.09944437899925,
 98.12444437899926,
 98.19027771299926,
 98.19944437999926,
 98.22027771399927,
 98.23194438099927,
 98.24277771399926,
 98.31888882599925,
 98.36277771499925,
 98.42722215999925,

In [ ]:
wrong_time = pd.DataFrame(time_mean)

In [ ]:
len(wrong_time)

3309

In [ ]:
wrong_time

               0
0       0.253333
1       0.681944
2       1.069722
3       1.466111
4       1.715278
...          ...
3304  181.070833
3305  181.086667
3306  181.097778
3307  181.102778
3308  181.107778

[3309 rows x 1 columns]

In [ ]:
wrong_time.to_csv('time_Extra3.csv')

In [ ]:
avg = pd.read_csv('time_Extra3.csv')

In [ ]:
avg

      Unnamed: 0    time_sum
0              0    0.253333
1              1    0.681944
2              2    1.069722
3              3    1.466111
4              4    1.715278
...          ...         ...
3304        3304  181.070833
3305        3305  181.086667
3306        3306  181.097778
3307        3307  181.102778
3308        3308  181.107778

[3309 rows x 2 columns]

In [ ]:
avg['time_sum']

0         0.253333
1         0.681944
2         1.069722
3         1.466111
4         1.715278
           ...
3304    181.070833
3305    181.086667
3306    181.097778
3307    181.102778
3308    181.107778
Name: time_sum, Length: 3309, dtype: float64

In [ ]:
avg['avg_time'] = avg['time_sum'].diff()

In [ ]:
avg

      Unnamed: 0    time_sum  avg_time
0              0    0.253333       NaN
1              1    0.681944  0.428611
2              2    1.069722  0.387778
3              3    1.466111  0.396389
4              4    1.715278  0.249167
...          ...         ...       ...
3304        3304  181.070833  0.012778
3305        3305  181.086667  0.015833
3306        3306  181.097778  0.011111
3307        3307  181.102778  0.005000
3308        3308  181.107778  0.005000

[3309 rows x 3 columns]

In [ ]:
avg['avg_time'][0] = avg['time_sum'][0]

In [ ]:
dataset

        stop_id_modified_from  stop_id_modified_to  ...      speed  number_of_trips
0                     36156.0              38709.0  ...  12.557498              8.0
1                     38709.0               2321.0  ...  12.128182             24.0
2                      2321.0              38783.0  ...  12.128182             22.0
3                     38783.0              38784.0  ...  12.557498             31.0
4                     38784.0              38785.0  ...  11.443527             33.0
...                       ...                  ...  ...        ...              ...
131412                    NaN                  NaN  ...  35.547501              NaN
131413                    NaN                  NaN  ...  38.353881              NaN
131414                    NaN                  NaN  ...  33.894130              NaN
131415                    NaN                  NaN  ...  33.894130              NaN
131416                    NaN                  NaN  ...  27.252985              NaN

[131417 rows x 5 columns]

In [ ]:
avg['trip'] = dataset['number_of_trips']

In [ ]:
avg

      Unnamed: 0    time_sum  avg_time  trip
0              0    0.253333  0.253333   8.0
1              1    0.681944  0.428611  24.0
2              2    1.069722  0.387778  22.0
3              3    1.466111  0.396389  31.0
4              4    1.715278  0.249167  33.0
...          ...         ...       ...   ...
3304        3304  181.070833  0.012778   2.0
3305        3305  181.086667  0.015833   2.0
3306        3306  181.097778  0.011111   2.0
3307        3307  181.102778  0.005000   1.0
3308        3308  181.107778  0.005000   1.0

[3309 rows x 4 columns]

In [ ]:
avg['average_time'] = avg['avg_time']/avg['trip']

In [ ]:
avg

      Unnamed: 0    time_sum  avg_time  trip  average_time
0              0    0.253333  0.253333   8.0      0.031667
1              1    0.681944  0.428611  24.0      0.017859
2              2    1.069722  0.387778  22.0      0.017626
3              3    1.466111  0.396389  31.0      0.012787
4              4    1.715278  0.249167  33.0      0.007551
...          ...         ...       ...   ...           ...
3304        3304  181.070833  0.012778   2.0      0.006389
3305        3305  181.086667  0.015833   2.0      0.007917
3306        3306  181.097778  0.011111   2.0      0.005556
3307        3307  181.102778  0.005000   1.0      0.005000
3308        3308  181.107778  0.005000   1.0      0.005000

[3309 rows x 5 columns]

In [ ]:
avg.to_csv('average_time_2.csv')