In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset=pd.read_csv('FinalSlot4.csv')

In [ ]:
dataset.shape

(400755, 7)

In [ ]:
dataset.drop_duplicates(subset =['trip_id_modified','stop_id_modified_from','stop_id_modified_to'], inplace = True)

In [ ]:
dataset.shape

(39292, 7)

In [ ]:
dataset['No of trips']=0

In [ ]:
dataset.to_csv('work.csv')

In [ ]:
u = pd.read_csv('work.csv')

In [ ]:
u

       Unnamed: 0  Unnamed: 0.1  ...      speed No of trips
0               0             0  ...   6.921938           0
1               1             1  ...   9.923058           0
2               2             2  ...   6.921938           0
3               3             3  ...   9.719160           0
4               4             4  ...   6.142846           0
...           ...           ...  ...        ...         ...
39287      400502        400502  ...  25.723938           0
39288      400503        400503  ...  35.131427           0
39289      400504        400504  ...  35.131427           0
39290      400505        400505  ...  24.245018           0
39291      400506        400506  ...  24.245018           0

[39292 rows x 9 columns]

In [ ]:
l = []

In [ ]:
for i in range(0,len(u['stop_id_modified_from'])-1):
  count = 0
  for j in range(0,len(u['stop_id_modified_from'])-1):
    if((u['stop_id_modified_from'][i]==u['stop_id_modified_from'][j]) and (u['stop_id_modified_to'][i]==u['stop_id_modified_to'][j])):
      count +=1
  l.append(count)

In [ ]:
time = pd.DataFrame(l)

In [ ]:
time.to_csv('onecolumn.csv')