In [ ]:
import pandas as pd
import numpy as np

In [ ]:
stop_ids = pd.read_csv('Stop_ids.csv')
stop_times = pd.read_csv('9.20mins_slot.csv')

In [ ]:
df=pd.DataFrame()

In [ ]:
route_id = []
stop_id_from = []
stop_id_to = []
trip_id = []
time=[]
speed=[]

In [ ]:
for i in range(0,len(stop_ids['stop_id_modified'])-1):
  for j in range(0,len(stop_times['stop_id'])-1):
    if((stop_ids['stop_id_modified'][i]==stop_times['stop_id'][j]) and (stop_ids['stop_id_modified'][i+1]==stop_times['stop_id'][j+1])):
      trip_id.append(stop_times['trip_id'][j+1])
      stop_id_from.append(stop_times['stop_id'][j])
      stop_id_to.append(stop_times['stop_id'][j+1])
      time.append(stop_times['time'][j+1])
      speed.append(stop_times['velocity'][j+1])

KeyboardInterrupt: ignored

In [ ]:
df['route_id_modified'] = route_id
df['trip_id_modified'] = trip_id
df['stop_id_modified_from'] = stop_id_from
df['stop_id_modified_to'] = stop_id_to
df['time_modified'] = time
df['speed'] = speed

In [ ]:
df

       route_id_modified  ...      speed
0                    NaN  ...  14.479565
1                    NaN  ...  12.232736
2                    NaN  ...   6.757130
3                    NaN  ...  11.727251
4                    NaN  ...   6.757130
...                  ...  ...        ...
10035                NaN  ...  54.459642
10036                NaN  ...  42.994451
10037                NaN  ...  51.055912
10038                NaN  ...  34.037276
10039                NaN  ...  54.459642

[10040 rows x 6 columns]

In [ ]:
df.to_csv('sob.csv')